concurrent = 8
check_interval = 0
shutdown_timeout = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "GitLabRunnerAlpha"
  url = "[...]"
  id = 1
  token = "[...]"
  token_obtained_at = 2024-02-20T20:57:07Z
  token_expires_at = 0001-01-01T00:00:00Z
  environment = ["DOCKER_AUTH_CONFIG=SEE https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#configuring-a-runner"]
  executor = "docker"
  [runners.cache]
    MaxUploadedArchiveSize = 0
    Insecure = false
  [runners.docker]
    tls_verify = false
    image = "alpine:latest"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/var/run/docker.sock:/var/run/docker.sock", "/cache"]
    shm_size = 0
    network_mtu = 0